.chatPane{
    -fx-background-image: url("../image/chat/chatBackground.jpg");
    -fx-border-width: 2px;
    -fx-border-color: #0d17d7;
}
.replyText{
    -fx-text-fill: #1162de;
}
.text-area {
    -fx-background-color: #0de71f;
    -fx-border-color: #0de71f;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-text-fill: #1162de;
}

.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #1162de;
}
.text-area .scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#73ee07, 100%);
}

.text-area .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#7f1ee0, 100%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 5em;
    -fx-pref-height: 15px;
}
.text-area .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #007bff;
    -fx-shape: "M 0 8 L 4 0 L 8 8 Z";
    -fx-border-radius: 5 5 0 0;
}

.text-area .scroll-bar:vertical .increment-arrow {
    -fx-background-color: #007bff;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
}

.text-area .scroll-bar:vertical .increment-button, .decrement-button {
    -fx-background-color: #56e8d7;
}

.text-area .scroll-bar:vertical .track {
    -fx-background-color: #05eed2;
}

/* scroll bar of massages*/

.messagesBox .scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(rgba(171, 24, 220, 0.8), 100%);
}

.messagesBox .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#bd0cba, 100%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 5em;
    -fx-pref-height: 15px;
}
.messagesBox .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #bd0cba;
    -fx-shape: "M 0 8 L 4 0 L 8 8 Z";
    -fx-border-radius: 5 5 0 0;
}

.messagesBox .scroll-bar:vertical .increment-arrow {
    -fx-background-color: #bd0cba;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
}

.messagesBox .scroll-bar:vertical .increment-button, .decrement-button {
    -fx-background-color: transparent;
}

.messagesBox .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}
 .scroll-pane {
    -fx-background-color: transparent;
}

 .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

 .scroll-pane .viewport {
    -fx-background-color: transparent;
}