AnchorPane {
    -fx-background-image: url("../image/icons/boardPreGame.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
}

MFXScrollPane, MFXScrollPane > .viewport {
    -fx-max-height: 600;
    -fx-min-height: 600;
    -fx-min-width: 280;
    -fx-max-width: 280;
    -fx-background-color: transparent;
    -fx-border-width: 2;
}

/*MFXScrollPane:vertical .thumb{*/
/*    -fx-background-color:derive(black,90%);*/
/*    -fx-background-insets: 0, 0, 0;*/
/*    -fx-background-radius: 0em;*/
/*}*/

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(#363537, 100%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 5em;
    -fx-pref-height: 15px;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#000000, 100%);
}


.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #007bff;
    -fx-shape: "M 0 8 L 4 0 L 8 8 Z";
    -fx-border-radius: 5 5 0 0;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #007bff;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
}

.scroll-bar:vertical .increment-button, .decrement-button {
    -fx-background-color: #56e8d7;
}

.scroll-bar:vertical .track {
    -fx-background-color: #333333;
}
.textInfo{
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-width: 145;
    -fx-max-width: 145;
}