@import "styles.css";

#title {
    -fx-font-family: 'Visby Round CF Bold';
    -fx-font-size: 25px;
    -fx-text-fill: #2e1d00;
}

#secQ {
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-color: #c39062;
    -fx-background-radius: 10;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 -3;
}

#secQ .floating-text {
    -fx-background-color: transparent;
    -fx-text-fill: #3f2813;
}

#secQ .caret .mfx-font-icon {
    -mfx-color: white;
}

#secQ .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(255, 255, 255, 0.5);
}
