/*@import "styles.css";*/
/*@import "Yrsa/style.css";*/

#login, #register {
    -fx-background-color: #4CAF50; /* Green */
}

#login:hover, #register:hover {
    -fx-background-color: #45a049;
}

#guestplay {
    -fx-background-color: #008CBA; /* Blue */
}

#guestplay:hover {
    -fx-background-color: #007B9E;
}

Label, MFXButton, MFXTextField, MFXTableView {
    -fx-font-size: 25px;
    -fx-text-fill: #000000;
    -fx-border-color: #695181;
    -fx-font-family: "Vazirmatn Bold";
    /*-fx-font-style: italic;*/
}
