@import "styles.css";

.frame {
    -fx-background-color: #FFFFFF80;
    -fx-border-color: #80420f;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-background-radius: 10px;
}

Label {
    -fx-background-radius: 15px;
    -fx-background-color: rgba(248, 166, 78, 0.87);
}

.mfx-table-view {
    -fx-background-color: #FFFFFF60;
    -fx-background-radius: 10px;
}

.mfx-table-column {
    -fx-font-family: "Visby Round CF Bold";
    -fx-font-size: 19px;
    -fx-background-color: rgba(221, 136, 65, 0.74);
    -fx-text-fill: #000000;
    -fx-border-color: #22222280;
}

.mfx-table-row-cell {
    -fx-border-color: #22222280;
}

.mfx-table-row:selected {
    -fx-background-color: rgba(227, 163, 106, 0.74)
}

.mfx-table-row:hover {
    -fx-background-color: rgba(245, 194, 149, 0.74)
}

.mfx-table-row.rank-row {
    -fx-background-color: rgba(242, 177, 0, 0.62);
}

.mfx-table-row.rank-row:hover {
    -fx-background-color: rgba(242, 177, 0, 0.31);
}

.mfx-table-row.current-user-row {
    -fx-background-color: rgba(0, 141, 242, 0.62);
}

.mfx-table-row.current-user-row:hover {
    -fx-background-color: rgba(0, 141, 242, 0.31);
}